/* STRUCTURE */

.site-header,
.site-footer {
    background: $hero-bg-color;
    a {
        color: $link-color;
        text-decoration: none;
    }
 
    a:hover {
        color: white;
    }
    .site-navigation {
        ul {
            display: flex;
            list-style: none;
            margin-top: 1em;
            padding: 0;
            @media (max-width: $breakpoint-small - 1) {
             display: block;
         }
        }
 
        a {
            display: block;
            padding: 1.6em 1em 1.4em 1em;
 
            @media (max-width: $breakpoint-small - 1) {
             padding: .5em 1em;
         }
 
        }
 
        a:hover {
            color: white;
        }

        img {
            width: 10%;
        }
     }
}

.site-header {
    display: flex; 
    justify-content: space-between;
    @media (max-width: $breakpoint-small - 1) {
        display: block;
        padding: 1em 0;
    }

    .site-identity {
        h1 {
            font-size: 1.5em;
            margin: 0;
            a {
                padding: 1em .75em;
                display: block;
            }

        }
        img {
        //   transform: scale(.5);
        width: 75%; 
        padding: 0; 
        margin-left: 2em;
        margin-top: 1em;
        }

        @media (max-width: $breakpoint-small - 1) {
            img {
                width: 50%;
                margin: 0;
            }
        }
    }
}

.site-footer {
    background: $footer-color;
    a {
        color: white;
    }

    ul {
    justify-content: center;
    }
}

section {
    padding: 3em;
}

.hero {
    background-color: $hero-bg-color;
    padding: 5em 0;

    .container .row {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 1em;
        padding-bottom: 3em;
    }

    h2 {
        color: $accent-color;
        margin: 0 1em;
    }

    p{
        width: 40%;
    }

    .row .column {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .curve {
        img {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 1;
    }

}

@media (max-width: $breakpoint-small) {
    img {
        display: none;
    }
}
}

.sectionhead {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    max-width: none;
}

.sectionhead:after {
    content: "";
    display: block;
    border-bottom: 1px solid $accent-color;
    width: 10%;
    margin: 1em auto 3em auto;
}

.alone {
    background: rgba(151,74,134, .2);

    h1{
        font-family: $type-base;
        font-size: 3em;
        color:#61183E;
    }

    h2{
        font-family: $type-heading;
        font-size: 2.25em;
        color:#61183E;
    }

    img {
        width: 100%;
    }
}

.counselor {
    background: rgba(108,99,255, .15);

    h1{
        font-size: 3em;
        color:#37146F;
    }

    h2 {
        font-family: $type-base;
        font-size: 2em;
        color: #37146F;
    }

    h6{
        font-family: $type-base;
        font-weight: 400;
    }

    p{ 
        padding: 0;
        margin: 0 0 1em 0;
    }

    img {
        width: 100%;
    }

    @media (max-width: $breakpoint-small - 1){
        img {
            display: none;
        }
    }

    .button {
        background-color: #8C69BC;
        border-color: #8C69BC;
        align-items: flex-end;
    }

    .button:hover {
        background-color: #D3D0FF;
        border-color: #8C69BC;
        color: #8C69BC;
    }
}

.resources {
    .row .column {
        display:flex;
        justify-content: flex-end; 
        flex-direction: column;
    }

    .row {
        align-items: flex-start;
    }

    h1 {
        font-family: $type-base;
    }

    h2 {
        align-items: stretch;
        font-family: $type-base;
        color: $accent-color; 
    }

    p {
        text-align: left;
        padding: 0;
        margin: 1em;
    }

    img {
        width: 90%;
        padding: 1em;
    }

    .thumbwrapper {
        min-height: 230px;
    }

    .button {
        background-color: #3C9FD8;
        border-color: #3C9FD8;
        align-items: flex-end;
    }

    .button:hover {
        background-color: white;
        border-color: #3C9FD8;
        color: #3C9FD8;
        align-items: flex-end;
    }
}

.recommended {
    h1 {
        color:#333333;
        font-family: $type-base;
    }

    h2 {
        font-family: $type-base;
        font-size: 2em;
    }

    p {
    color: #014382;
    }

    img {
        width: 50%;
    }
}

.site-header .site-navigation.toggle-nav{
    ul {
        @media (max-width: $breakpoint-small - 1) {
            display: none;
        }
    }

    &.open ul {
        @media (max-width: $breakpoint-small - 1) {
            display: block;
        }
    }
}

.menu-button {
    @media (min-width: $breakpoint-small) {
        display: none;
    }
}